<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1><%= category %> Category</h1>
    <ul>
        <% list.forEach((item) => { %>
            <li>
                game title: <%= item.title %>, 
                developer: <%= item.developer_name %>
                <a href="<%= title %>/update/<%= item.id %>"><button>Update</button></a>
                <form action="<%= title %>/delete/<%= item.id %>" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/create">Create Game</a>
    <a href="/">Home</a>
</body>
</html>
